/* The style of the main page */

body{
    margin: 0;
}

/* Style of the banner on the main page */

header {
    margin: 0px;
    max-height: 420px;
    background-color: darkgray;
}

header h2 {
    position: absolute;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    color: rgb(10, 103, 150);
    color: rgba(10, 103, 150, 0.8);
}

#line1 {
    margin-top: 15px;
    margin-left: 20px;
}

#line2 {
    margin-top: 40px;
    margin-left: 40px;
}

.banner {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-height: 420px;
}

h1 {
    position: absolute;
    margin-top: 55px;
    margin-left: 60px;
    padding: 20px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 300%;
    color: rgb(10, 103, 150);
    
}

/* Navigation bar */

.navigation {
    margin: 0px;
    padding: 0px;
    background-color: darkgray;
    text-align: center;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
}

.navigation li {
    display: inline-block;
    margin-top: 10px;
    padding-bottom: 0px;
    width: 20%;
    font-family: 'Poppins', sans-serif;
}

.navigation ul {
    height: 40px;
    padding: 0;
    margin: 0;
}

.navigation a {
    text-decoration: none ;
    color: white;
}

.navigation a:hover {
    color: #bbd7e8;
}

/* Hides the dropdown by default */

.dropbtn {
    display: none;
}

.dropdown-content {
    display: none;
}

.dropdown-background {
    display: none;
}

/* The articles on the home page */

h2 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin: auto;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    text-align: center;
}

.introduction {
    width: 100%;
    height: 300px;
}

.introduction a {
    color: white;
}

.introduction a:hover {
    color: cornflowerblue;
}

#introtext {
    background-color: #2e66a5;
    width: 50%;
    height: 100%;
    float: left;
    margin: 0;
}

#intropic {
    width: 50%;
    height: 300px;
    float:right;
    margin: 0;
}

#squadpic {
    width: 50%;
    height: 300px;
    float:left;
    margin: 0;
}

#squadtext {
    background-color: #bbd7e8;
    width: 50%;
    height: 100%;
    float:right;
    margin: 0;
    text-align: center;
}

p {
    text-align: center;
    margin: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: #ffffff;
    margin-bottom: 0;
}

/* Style of the footer */

footer {
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: darkgray;
    
}

footer li {
    display: inline-block;
    margin-top: 0px;
    padding-top: 20px;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

footer ul {
    margin: 0;
    padding-left: 10px;
}

.name, .credits {
    padding-top: 10px;
    border: 0;
    margin: 0;
}

.name {
    vertical-align: middle;
}

.credits {
    float: right;
    text-align: right;
}

#sponsor {
    float: right;
    padding-right: 10px;
    padding-left: 10px;
}

footer p {
    margin-top: 5px;
    margin-left: 10px;
    padding: 0;
    text-align: left;
}

/* Extra settings for the "Yritys" page */

h3 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin: auto;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    text-align: center;
}

#ourstory {
    background-color: #1a5477;
    text-align: center;
}

#storytext {
    width: 70%;
    margin-left: 15%;
}

.video-container {
    position: relative; 
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow:hidden;
}

.video-container iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* Settings for the "FAQ" page */

.questions {
    background-image: url(https://c1.staticflickr.com/7/6077/6030649272_221d7cc70e_b.jpg);
    background-size: cover;
}

#kysymys1 {
    width: 50%;
    height: auto;
    background-color: rgb(115, 188, 198);
    background-color: rgba(115, 188, 198, 0.7);
}

#kysymys2 {
    width: 50%;
    height: auto;
    background-color: rgb(69, 140, 150);
    background-color: rgba(69, 140, 150, 0.7);
    margin-left: 50%;
}

#kysymys3 {
    width: 50%;
    height: auto;
    background-color: rgb(49, 117, 127);
    background-color: rgba(49, 117, 127, 0.7);
}

/* Settings for the "Yhteystiedot" page */

.contact {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/78/Finnish_forest.JPG);
    background-size: cover;
    height: 100%;
    padding: 18%;
}

#yhteystietoja {
    width: 50%;
    margin-left: 25%;
    background-color: rgb(49, 127, 75);
    background-color: rgba(49, 127, 75, 0.7);
}

/* Breakpoints for different screensizes */

@media screen and (max-width: 450px) {
    h1 {
        margin-left: 15px;
        font-size: 230%;
    }
    
    h1, #line1, #line2 {
        color: white;
    }
    
    #introtext, #intropic, #squadpic, #squadtext {
        width: 100%;
    }
    
    /* Hides the normal navigation */
     
    .navigation li {
        display: none;
    }
    
    .navigation ul {
        display: none;
    }
    
    /* Dropdown settings */

    .dropdown-background {
        display: block;
        background-color: darkgray;
        height: 54px;
        margin: 0;
        padding-left: 33%;
    }
    
    .dropbtn {
        display: block;
        background-color: darkgray;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        font-family: 'Poppins', sans-serif;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: rgb(156, 159, 163)
    }

    .dropdown:hover .dropdown-content {
        display: block;
        background-color: darkgray;
    }

    .dropdown:hover .dropbtn {
        background-color: rgb(156, 159, 163);
    }

    /*Rearrangement of the question layout */
    
    #kysymys1, #kysymys2, #kysymys3 {
        width: 100%;
    }
    
    #kysymys2 {
        margin-left: 0;
    }
    
    .contact {
        padding: 5%;
    }
    
    #yhteystietoja {
        width: 80%;
        margin-left: 10%;
    }
    
    .credits {
        padding-top: 6px;
    }
    
    footer {
        clear: right;
    }
    
}





